#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000; 
	margin: auto;
}
header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}
.titu{
	margin-top: 30px;
	font-size: 30px;
}
.sub{
	font-size: 90;
	margin-top: -25px;
	color: rgb(200,2,0);
}
#logo{
	width: 250px;
	height: 100px;
	border: 0px solid #000;
	float: left;
	text-align: center;
}
#logo p{
font-size: 15px;
}
.menu{
	width: 490px;
	height: 49px;
	border: 1px solid #ccc;
	float: right;
	background: rgb(200,210,225);
	margin-top: 25px;
}
secction h2{
	text-align: center;
}
.textt{
	text-align: justify;
}
.menu ul{
}
.menu ul li a:hover{
	background: rgb(180,80,120);
	color: white;
	transition: 1s background, 1s color;
}

.menu ul li{
list-style: none;
float: left;
padding: 2px 2px;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 12px;
	border: 0px solid;
	color:rgb(20, 80, 180);
}

#slide{
	margin-top: -8px;
	width: 900px;
	height: 250px;
}

#categorias{
	width: 900px;
	height: auto;
 overflow: hidden;
	border: 0px solid;
	margin-top: 12px;
}

.uno{
width: 279px;
height: auto; 
overflow: hidden;
border: 1px solid rgb(150,210,120); 
float:left;
padding: 5px;
}
section img{
	border-image: none;
}
.dos{
	margin-left: 13px;
	margin-right: 13px;
}

.leer-mas{
	border: 0px solid green;
	text-decoration: none;
	margin: 10px;
	padding: 10px 20px;
	background: rgb(120,180,50);
	color: white;
}

.leer-mas:hover{
	background: rgb(40,80,120);
	color: yellow;
	transition: 1s background, 2s color;
}

#info{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid green;
	margin-top: 10px;
}

#izq{
	width: 585px;
	height: auto; overflow: hidden;
	border: 0px solid black;
	float: left;	
	padding: 5px;
}

#der{
	width: 220px;
	height: auto; overflow: hidden;
	border: 1px solid black;
	float: right;
}
footer{
	width: 900px;
	height: 50px;
	text-align: center;
}

footer p{
	width: ;

}